*{
    padding: 0;
    margin: 0;
}
body{
    background: rgb(48,0,115);
    background: -moz-radial-gradient(circle, rgba(48,0,115,1) 0%, rgba(33,0,69,1) 0%, rgba(109,61,136,1) 78%, rgba(103,10,139,1) 89%, rgba(65,38,148,1) 98%, rgba(0,10,113,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(48,0,115,1) 0%, rgba(33,0,69,1) 0%, rgba(109,61,136,1) 78%, rgba(103,10,139,1) 89%, rgba(65,38,148,1) 98%, rgba(0,10,113,1) 100%);
    background: radial-gradient(circle, rgba(48,0,115,1) 0%, rgba(33,0,69,1) 0%, rgba(109,61,136,1) 78%, rgba(103,10,139,1) 89%, rgba(65,38,148,1) 98%, rgba(0,10,113,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#300073",endColorstr="#000a71",GradientType=1);
    position: relative;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}
.hero-block__title{
    color:#FFFFFF;
    font-family: "Inter", sans-serif;
    margin-bottom: 45px;
}
.hero-block__title_top{
    font-size: 25px;
    font-weight: 300;
    animation-duration: 3.5s;
    animation-name: slideleft;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
}
.hero-block__title_mid{
    font-size: 170px;
    font-weight: 400;
    animation-duration: 5s;
    animation-name: appearance;
}
.hero-block__title_bottom{
    text-align: right;
    font-size: 25px;
    font-weight: 400;
    animation-duration: 3.5s;
    animation-name: slideright;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
}
.container_hero-block{
    padding: 80px  0 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-block__btn{
    padding: 14px 26px;
    font-size: 25px;
    font-weight: 400;
    background: linear-gradient(90deg, #5830AB 0%, #B819B1 100%);
    border-radius: 10px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    cursor: pointer;
    text-decoration: none;
    font-family: inter;
}

.winners{
    margin: 0 auto;
}
.winners__btn{
    padding: 20px 10px;
    font-size: 25px;
    font-weight: 400;
    background: linear-gradient(90deg, #5830AB 0%, #B819B1 100%);
    border-radius: 7px;
    color: #FFFFFF;
    border: 1px solid grey;
}
.container_win{
    /* padding: 80px  0 45px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.winners__title_top{
    font-size: 45px;
    font-weight: 600;
    color: #FFFFFF;
    font-family: inter;
    text-align: center;
    margin-bottom: 10px;
}
.works__btn{
    font-family: inter;
    font-weight: 700;
    padding: 16px 32px;
    font-size: 18px;
    background: linear-gradient(90deg, #5930ab00 0%, #b819b000 100%);
    border-radius: 16px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    cursor: pointer;
    text-decoration: none;
    transition: 2s background;
    /* position: absolute;
    bottom: -230px;
    right: 1100px; */
}
.works__btn:hover{
    background: #a5039d;
}
.win__team{
    font-family: inter;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 24px;
    margin-bottom: 26px;
}
.win__list{
    list-style: none;
    width: 950px;
    border-radius: 12px;
}
.works{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.works__point{
    font-family: inter;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 45px;
    border: 2px solid #FFFFFF;
    border-radius: 100%;
    padding: 9% 14%;
    margin-bottom: 27px;
}
.win__item{
    padding: 17px 30px;
    margin-bottom: 150px;
    background: linear-gradient(90deg, #5830AB 0%, #B819B1 100%);
    border: 1px solid gray;
    border-radius: 12px;
    position: relative;
}
.works__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.win__item_web::after{
    content: 'Веб-разработка';
    position: absolute;
    right: -9%;
    top: -8%;
    transform: rotate(25deg);
    color: #FFFFFF;
    font-family: inter;
    font-weight: 700;
    font-size: 37px; 
    border: 2px solid #FFFFFF;
    padding: 6px 8px;
}
.win__item_scratch::after{
    content: 'SCRATCH';
    position: absolute;
    right: -5%;
    top: -8%;
    transform: rotate(25deg);
    color: #FFFFFF;
    font-family: inter;
    font-weight: 700;
    font-size: 37px; 
    border: 2px solid #FFFFFF;
    padding: 6px 8px;
}
.win__item_3D::after{
    content: '3D-МОДЕЛИРОВАНИЕ';
    position: absolute;
    right: -12%;
    top: -12%;
    transform: rotate(18deg);
    color: #FFFFFF;
    font-family: inter;
    font-weight: 700;
    font-size: 37px; 
    border: 2px solid #FFFFFF;
    padding: 6px 8px;
}
.cube1{
    position: absolute;
    top: -380px;
    width: 500px;
    left: 0;
    z-index: -1;
    animation-duration: 5s;
    animation-name: fly;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.cube2{
    position: absolute;
    top: -60px;
    width: 500px;
    right: 0;
    z-index: -1;
    animation-duration: 6s;
    animation-name: fly;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.cube3{
    position: absolute;
    top: 750px;
    width: 550px;
    right: 680px;
    z-index: -1;
    animation-duration: 3s;
    animation-name: fly;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.cube4{
    position: absolute;
    bottom: 0;
    width: 550px;
    right: 0;
    z-index: -1;
    animation-duration: 4s;
    animation-name: fly;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes appearance {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
@keyframes slideleft {
    from {
   transform: translateX(-100%);
    }
    to {
    transform: translateX(0);
    }
}
@keyframes slideright {
    from {
   transform: translateX(100%);
    }
    to {
    transform: translateX(0);
    }
}
@keyframes fly {
    from {
   transform: translateY(5%);
    }
    to {
    transform: translateY(0);
    }
}